{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<h2 class="mb-4">Вход в систему</h2>
<form method="post" novalidate>
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.username.label(class="form-label") }}
    {{ form.username(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
  </div>

  <div class="form-check mb-3">
    {{ form.remember(class="form-check-input") }}
    {{ form.remember.label(class="form-check-label") }}
  </div>

  <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
</form>
{% endblock %}